/* hero image */
.hero-img {
  width: 100%;
  min-height: 15rem;
  margin-top: var(--spacing4);
  position: relative;
}

.hero-img .card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 11rem;
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  transform: translate(-50%, -50%);
}
.hero-img .card-container h1 {
  font-size: 1rem;
}
.hero-img .card-container .btn-primary {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
}
.hero-img p {
  display: none;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* media queries */

@media screen and (min-width: 750px) {
  /* hero img */
  .hero-img .card-container {
    width: 20rem;
  }
  .hero-img .card-container h1 {
    font-size: 1.4rem;
  }
  .hero-img .card-container p {
    font-size: 1.2rem;
    display: block;
  }
  .hero-img .card-container .btn-primary {
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
  }
}
