/* aside */
aside {
  width: 25%;
  display: none;
  flex-direction: column;
  gap: 1rem;
  margin-top: var(--spacing1);
  margin-right: var(--spacing7);
}
.slider-container {
  width: 100%;
  display: flex;
  gap: 5px;
}
.slider {
  width: 10rem;
}
aside .filter-title {
  display: flex;
  justify-content: space-between;
}
aside .btn {
  display: flex;
  align-items: center;
}
aside label {
  margin-left: 5px;
}
/* filter buttons */
.filter-buttons {
  position: fixed;
  z-index: 4;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.filter-buttons .btn {
  width: 100%;
  border-radius: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding-top: 0.5rem;
}

/* filter-layout mob */
.filter-layout-mob {
  border: 1px solid black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0.4rem 1rem;
  gap: 1rem;
  overflow-y: scroll;
}
body.noscroll {
  position: fixed;
  overflow: hidden;
}

.filter-layout-mob .filter-title {
  display: flex;
  justify-content: space-between;
}
.filter-layout-mob .btn {
  display: flex;
  align-items: center;
}
/* sort Layout */
.sort-layout-mob {
  border: 1px solid black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0.4rem 1rem;
  gap: 1rem;
  overflow-y: scroll;
}

/* media queries */

@media screen and (min-width: 1100px) {
  /* filter layout */
  .filter-buttons {
    display: none;
  }
  .filter-layout-mob {
    display: none !important;
  }
  .sort-layout-mob {
    display: none !important;
  }
  /* sidebar for desktop */
  aside {
    display: flex;
  }
}
