.product-section .product-card {
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  margin-right: 9.75px;
  margin-left: 9.75px;
  justify-content: space-between;
  transition: 0.2s ease;
}
.product-section .product-card:hover {
  box-shadow: 10px 10px 13px -1px rgba(0, 0, 0, 0.75);
  margin-bottom: 5px;
}
.product-card .tab {
  background-color: var(--secondary-color);
  padding: 2px 10px;
  align-self: center;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
}

.product-card .img-container .card-img {
  object-fit: contain;
}

.img-container {
  height: 200px;
  position: relative;
}
.img-container .card-tag {
  background-color: black;
  position: absolute;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
  bottom: 0;
}

.product-section .product-card .btn {
  font-size: 1rem;
}
.fav-icon:hover {
  cursor: pointer;
}
.fav-icon .fas.fa-heart {
  color: gray;
}
.fav-icon .fas.fa-heart.red {
  color: red;
}
.fav-icon .fas.fa-heart:hover {
  color: red;
}

/* media queries */

@media screen and (min-width: 600px) {
  /* product cards */
  .product-section .product-card {
    width: 15rem;
  }
  .product-card .img-container {
    height: 300px;
  }
}

@media screen and (min-width: 1100px) {
  /* product-section */
  .product-section .product-card {
    width: 22rem;
  }
  .product-section .product-card .card-title {
    font-size: var(--fs3);
  }
  .product-section .product-card .btn {
    font-size: 1.2rem;
  }
  .product-card .img-container {
    height: 400px;
  }
}
