.main-content_cart {
  display: flex;
  flex-direction: column;
  padding: var(--spacing3);
  align-items: center;
  height: 100%;
  font-size: larger;
  padding-bottom: 56rem;
}
.page-subtitle_cart {
  margin-top: 2rem;
  text-align: center;
  font-size: 25px;
}

/* cart-total */
.cart-total {
  margin-top: 2rem;
  justify-content: flex-start;
}
.cart-total h1 {
  font-size: var(--fs2);
  border-bottom: 1px solid gainsboro;
}
.cart-total h2 {
  font-size: var(--fs3);
  display: inline-block;
}
.pricing-details {
  display: flex;
  border-bottom: 1px solid gainsboro;
  justify-content: space-evenly;
}
.product-names {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.product-prices {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-total .btn {
  position: -webkit-sticky;
  position: sticky;
  top: 115px;
}

/* media queries */

@media screen and (min-width: 750px) {
  /* cart items */
  .cart-total .product-names,
  .cart-total .product-prices {
    font-size: 1.5rem;
  }
  .main-content_cart .card-total {
    width: 31rem;
  }
}

@media screen and (min-width: 1100px) {
  /* cart items */
  .main-content_cart .cart-total {
    width: 30%;
    position: absolute;
    align-self: flex-end;
  }
}
