.main-content_wishlist {
  display: flex;
  justify-content: center;
  font-size: larger;
}
.page-subtitle_wishlist {
  text-align: center;
  margin-top: 2rem;
}

/* wishlist */
.wishlist-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.wishlist-section .product-card {
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  margin-right: 9.75px;
  margin-left: 9.75px;
}

.wishlist-section .product-card .btn {
  font-size: 1rem;
}

/* media queries */

@media screen and (min-width: 600px) {
  /* wishlist cards */
  .wishlist-section .product-card {
    width: 12rem;
  }
}

@media screen and (min-width: 1100px) {
  /* card-section */
  .wishlist-section .product-card {
    width: 22rem;
  }
  .wishlist-section .product-card .card-title {
    font-size: var(--fs3);
    margin-bottom: 2rem;
  }
  .wishlist-section .product-card .btn {
    font-size: 1.2rem;
  }
}
