/* categories*/
.categories .card-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories .card-vertical .product-img-box {
  position: relative;
  width: 100%;
  height: 300px;
}
.categories .card-vertical .product-img-box img {
  object-fit: cover;
}
.categories .card-container .product-img-box h1 {
  bottom: 0;
  left: 50%;
  right: 50%;
}

.categories .card-container {
  padding-bottom: 0;
}
.categories .card-container .btn {
  color: white;
  text-align: center;
}
.categories a {
  margin: 0;
}
