:root {
  --main-bg__dark-theme: rgb(28, 27, 27);
  --subtext__dark-theme: rgb(49, 205, 61);
  --brand-name__dark-theme: rgb(22, 219, 101);
  --primary-hover__dark-theme: rgb(4, 71, 28);
  --btn-text__dark-theme: #fff;
  --card-bg__dark-theme: #3e3e3e;
  --card-btn__dark-theme: rgb(5, 140, 66);
  --error-text-color: #f78c8c;
}
body {
  font-size: 18px;
}
.dark-theme .form-container .error-text {
  color: var(--error-text-color);
}
.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section-title {
  margin-top: 1rem;
  text-align: center;
  font-size: 27px;
  border-bottom: 1px solid gainsboro;
}
.page-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1100px) {
  body {
    font-size: 16px;
  }
  .page-container {
    width: 80%;
    margin: 0 auto;
  }
}

/* Dark Theme */

.dark-theme.page-container h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme a {
  color: var(--brand-name__dark-theme);
}

.dark-theme .card-container,
.dark-theme .form-container {
  background-color: var(--card-bg__dark-theme);
}

.dark-theme .card-container p {
  color: var(--subtext__dark-theme);
}

.dark-theme .btn {
  background-color: var(--card-btn__dark-theme);
  color: var(--btn-text__dark-theme);
}
.dark-theme .btn:hover {
  background-color: var(--primary-hover__dark-theme);
}

.dark-theme aside label {
  color: var(--subtext__dark-theme);
}

/* signup */
.dark-theme .form-container .btn-submit-secondary {
  color: var(--brand-name__dark-theme);
}
.dark-theme .form-container p,
.dark-theme .form-container a,
.dark-theme .form-container label {
  color: var(--brand-name__dark-theme);
}
