.main-content__home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: larger;
  position: relative;
}

/* Promotional */
.promotional-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
